body {
    height: 1400vh;
    background-image: url('/images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center 68%;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 100px;
    margin: 0;
}

@media screen and (max-width: 2500px) {
    body {
        font-size: 90px;
    }
}
@media screen and (max-width: 2250px) {
    body {
        font-size: 80px;
    }
}
@media screen and (max-width: 2000px) {
    body {
        font-size: 70px;
    }
}
@media screen and (max-width: 1775px) {
    body {
        font-size: 80px;
    }
}
@media screen and (max-width: 1050px) {
    body {
        font-size: 70px;
    }
}
@media screen and (max-width: 750px) {
    body {
        font-size: 55px;
    }
}
@media screen and (max-width: 580px) {
    body {
        font-size: 50px;
    }
}
@media screen and (max-width: 400px) {
    body {
        font-size: 40px;
    }
}

h1 {
    position: absolute;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 100%;
}

#nameFirst {
    position: fixed;
    font-size: 300%;
    width: auto;
    margin: 0;
}
#nameLast {
    position: fixed;
    font-size: 300%;
    width: auto;
    margin: 0;
}

#hiddenName {
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 300px;
    user-select: none;
    line-height: 100%;
}

@media screen and (max-width: 2050px) {
    #hiddenName {
        font-size: 270px;
    }
}
@media screen and (max-width: 1850px) {
    #hiddenName {
        font-size: 240px;
    }
}
@media screen and (max-width: 1650px) {
    #hiddenName {
        font-size: 210px;
    }
}
@media screen and (max-width: 1450px) {
    #hiddenName {
        font-size: 180px;
    }
}
@media screen and (max-width: 1250px) {
    #hiddenName {
        font-size: 270px;
    }
}
@media screen and (max-width: 1050px) {
    #hiddenName {
        font-size: 240px;
    }
}
@media screen and (max-width: 850px) {
    #hiddenName {
        font-size: 210px;
    }
}
@media screen and (max-width: 750px) {
    #hiddenName {
        font-size: 180px;
    }
}
@media screen and (max-width: 650px) {
    #hiddenName {
        font-size: 150px;
    }
}
@media screen and (max-width: 550px) {
    #hiddenName {
        font-size: 120px;
    }
}
@media screen and (max-width: 430px) {
    #hiddenName {
        font-size: 100px;
    }
}

#hiddenName h1 {
    position: relative;
    display: inline-block;
    width: auto;
    margin: 0;
}

#introScreen {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
}

#introText, #studentText {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
}

#developerText {
    margin: 0;

}

#introText h1 {
    position: relative;
    width: auto;
    margin: 0;
}

#studentText h1 {
    position: relative;
    width: auto;
    display: inline;
    vertical-align: middle;
    margin: 0;
}

#uwlogo {
    position: relative;
    display: inline;
    vertical-align: middle;
}

.bookColour {
    background-color: #00203F;
}

.centerFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.centerFlex h1 {
    position: relative;
    color: #ADEFD1;
}

#thinking {
    margin-left: 30px;
    width: 1.5em;
    vertical-align: -10%;
}

.hidden {
    opacity: 0;
    user-select: none;
}

.reveal.floatUp {
    opacity: 0;
    transform: translateY(150px);
    user-select: none;
}
.reveal.fastRight {
    opacity: 0;
    transform: translateX(-80%);
    user-select: none;
}
.reveal.fastLeft {
    opacity: 0;
    transform: translateX(80%);
    user-select: none;
}

.reveal.active {
    opacity: 1;
    transform: translate(0);
    user-select: auto;
    transition: opacity 1s ease, transform 1s ease;
}

#sdDefinition {
    position: absolute;
    font-family: serif;
    padding: 30px;
    padding-left: 80px;
}

#sdDefinition h2 {
    margin-bottom: 0;
}

#sdDefinition #sd {
    color: black;
    font-size: 100%;
}
#sdDefinition #sdPronounciation {
    color: gray;
    font-size: 50%;
    display: inline-block;
}
#sdDefinition #noun {
    color: rgb(75, 125, 200);
    font-size: 50%;
    display: inline-block;
}
#sdDefinition #definition {
    color: black;
    font-size: 50%;
}

#creativityText {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#creativityText h1 {
    position: relative;
    width: auto;
    margin: 0;
}

#creativityRainbow {
    position: fixed;
    width: auto;
    margin: 0;
}

.rainbowAnimated {
    background: linear-gradient(to right, rgb(0, 255, 0), rgb(0, 0, 255), rgb(255, 0, 0), rgb(0, 255, 0), rgb(0, 0, 255), rgb(255, 0, 0), rgb(0, 255, 0));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 5s linear infinite;
    background-size: 200% 100%;
}

@keyframes rainbow_animation {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0% 0;
    }
}

canvas {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

#pixels {
    background-color: black;
    z-index: 1;
}

#colors {
    background: rgb(150, 150, 150);
    filter: blur(5px);
}

#book {
    background-color: black;
}