body {
    height: 400vh;
    background-image: url('/images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center 68%;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 100px;
    margin: 0;
}

@media screen and (max-width: 2500px) {
    body {
        font-size: 90px;
    }
}
@media screen and (max-width: 2250px) {
    body {
        font-size: 80px;
    }
}
@media screen and (max-width: 2000px) {
    body {
        font-size: 70px;
    }
}
@media screen and (max-width: 1775px) {
    body {
        font-size: 100px;
    }
}
@media screen and (max-width: 1050px) {
    body {
        font-size: 70px;
    }
}
@media screen and (max-width: 750px) {
    body {
        font-size: 55px;
    }
}
@media screen and (max-width: 580px) {
    body {
        font-size: 50px;
    }
}
@media screen and (max-width: 400px) {
    body {
        font-size: 40px;
    }
}


h1 {
    position: absolute;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 100%;
}

#nameFirst {
    position: fixed;
    font-size: 300%;
    width: auto;
    margin: 0;
}
#nameLast {
    position: fixed;
    font-size: 300%;
    width: auto;
    margin: 0;
}

#hiddenName {
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 300px;
}

@media screen and (max-width: 2050px) {
    #hiddenName {
        font-size: 270px;
    }
}
@media screen and (max-width: 1850px) {
    #hiddenName {
        font-size: 240px;
    }
}
@media screen and (max-width: 1650px) {
    #hiddenName {
        font-size: 210px;
    }
}
@media screen and (max-width: 1450px) {
    #hiddenName {
        font-size: 180px;
    }
}
@media screen and (max-width: 1250px) {
    #hiddenName {
        font-size: 270px;
    }
}
@media screen and (max-width: 1050px) {
    #hiddenName {
        font-size: 240px;
    }
}
@media screen and (max-width: 850px) {
    #hiddenName {
        font-size: 210px;
    }
}
@media screen and (max-width: 750px) {
    #hiddenName {
        font-size: 180px;
    }
}
@media screen and (max-width: 650px) {
    #hiddenName {
        font-size: 150px;
    }
}
@media screen and (max-width: 550px) {
    #hiddenName {
        font-size: 120px;
    }
}
@media screen and (max-width: 430px) {
    #hiddenName {
        font-size: 100px;
    }
}

#hiddenName {
    line-height: 100%;
}

#hiddenName h1 {
    position: relative;
    display: inline-block;
    width: auto;
    margin: 0;
}

#introScreen {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
}

#introText, #studentText {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
}

#developerText {
    margin: 0;

}

#introText h1 {
    position: relative;
    display: inline-block;
    width: auto;
    margin: 0;
}

#studentText h1 {
    position: relative;
    width: auto;
    display: inline;
    vertical-align: middle;
    margin: 0;
}

#uwlogo {
    position: relative;
    display: inline;
    vertical-align: middle;
}

.hidden {
    opacity: 0;
}

.reveal {
    opacity: 0;
    transform: translateY(150px);
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease, transform 1s ease;
}
